<section>

<article>
    <?js= content ?>
</article>

<article>
    <?js if (children.length > 0) { ?>
    <h2>Sub-Tutorials</h2>
	<ul><?js
        var self = this;
        children.forEach(function(t) { ?>
        <li><?js= self.tutoriallink(t.name) ?></li>
    <?js }); ?></ul>
    <?js } ?>
</article>

</section>
